@import url(./__submit-button/form__submit-button.css);
@import url(./__input/form__input.css);
@import url(./__fields/form__fields.css);
@import url(./__input/_type/form__input_type_about.css);
@import url(./__input/_type/form__input_type_name.css);

.form {
    margin: 0 auto;
    width: 83.5%;
    display: grid;
    grid-row-gap: 48px;

}