.profile__about {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
}

@media (max-width: 445px) {
    .profile__about {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}