.form__about {
    margin:  2em 0 0 0;;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    width: 100%;
    padding: 0 0 1em 0;
    font-family: inherit;
}