.popup_type_canvas {
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}

.popup_type_canvas:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}