.profile__add-button {
    display: flex;
    height: 50px;
    width: 100%;
    border: 2px solid #FFFFFF;
    justify-self: end;
    background-color: black;
    justify-content: center;
    background-image: url(../../../images/plus.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.profile__add-button:hover {
    opacity: 0.6;
    transition: opacity .2s ease-in-out;
    cursor: pointer;
}

@media (max-width: 1023px) {
    .profile__add-button {
        width: 70%;
        margin-top: 2rem;
    }
}

@media (max-width: 425px) {
    .profile__add-button {
        width: 88.125vw;
    }
}