.element__trash {
    background: url(../../../images/trash.svg);
    width: 20.76px;
    height: 18.13px;
    padding: 0; 
    margin: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    position: absolute;
    margin-top: 18px;
    margin-left: 250px;
}

.element__trash:hover {
    opacity: 0.6;
    transition: opacity .2s ease-in-out;
    cursor: pointer;
}